ansible==8.7.0
    # via fujitsu-ansible-irmc-integration
ansible-core==2.15.12
    # via ansible
certifi==2024.7.4
    # via requests
cffi==1.16.0
    # via cryptography
charset-normalizer==3.3.2
    # via requests
cryptography==43.0.0
    # via ansible-core
    # via pyspnego
    # via requests-ntlm
idna==3.7
    # via requests
jinja2==3.1.4
    # via ansible-core
markupsafe==2.1.5
    # via jinja2
packaging==24.1
    # via ansible-core
pycparser==2.22
    # via cffi
pyspnego==0.11.1
    # via requests-ntlm
pywinrm==0.5.0
    # via fujitsu-ansible-irmc-integration
pyyaml==6.0.1
    # via ansible-core
requests==2.32.3
    # via fujitsu-ansible-irmc-integration
    # via pywinrm
    # via requests-ntlm
    # via requests-toolbelt
requests-ntlm==1.3.0
    # via pywinrm
requests-toolbelt==1.0.0
    # via fujitsu-ansible-irmc-integration
resolvelib==1.0.1
    # via ansible-core
urllib3==2.2.2
    # via fujitsu-ansible-irmc-integration
    # via requests
xmltodict==0.13.0
    # via pywinrm
