---
# FUJITSU LIMITED
# Copyright 2018 FUJITSU LIMITED
# GNU General Public License v3.0+ (see [LICENSE.md](LICENSE.md) or https://www.gnu.org/licenses/gpl-3.0.txt)

# example playbook to compare iRMC system and hardware configuration against
# existing profiles files in JSON format

# variables not defined in this playbook are expected to be provided
# elsewhere, e.g. in group_vars/all

- name: compare iRMC system and hardware configuration against existing profiles
  connection: local
  hosts: iRMC_group

  vars:
    # iRMC login credentials
    # irmc_user: "admin"
    # irmc_password: "admin"
    # Note: set validate_certificate to false for self-signed certificate
    # validate_certificate: false
    # path to files with saved iRMC profiles
    # irmc_sysconfig_file: "Profile_SystemConfigSave.json"
    # irmc_hwconfig_file: "Profile_HWConfigurationSave.json"

  gather_facts: false

  tasks:
    # Get iRMC profiles
    - name: Get SystemConfig profile
      irmc_profiles:
        irmc_url: "{{ inventory_hostname }}"
        irmc_username: "{{ irmc_user }}"
        irmc_password: "{{ irmc_password }}"
        validate_certs: "{{ validate_certificate }}"
        command: "get"
        profile: "SystemConfig"
      register: system_config
      delegate_to: localhost
    - name: Get HWConfigurationIrmc profile
      irmc_profiles:
        irmc_url: "{{ inventory_hostname }}"
        irmc_username: "{{ irmc_user }}"
        irmc_password: "{{ irmc_password }}"
        validate_certs: "{{ validate_certificate }}"
        command: "get"
        profile: "HWConfigurationIrmc"
      register: hardware_config
      delegate_to: localhost
    - name: Show SystemConfig profile
      debug:
        msg: "{{ system_config.profile }}"
    - name: Show HWConfigurationIrmc profile
      debug:
        msg: "{{ hardware_config.profile }}"

    # compare iRMC Profiles to file
    - name: Compare SystemConfig profile
      irmc_compare:
        profile_path1: "{{ irmc_sysconfig_file }}"
        profile_json2: "{{ system_config.profile }}"
      register: system_config_result
      delegate_to: localhost
    - fail:
        msg:
          - SystemConfig profile differs from saved profile
          - "{{ system_config_result.comparison_list }}"
      when: system_config_result.comparison_result == false
    - name: Compare HWConfigurationIrmc profile
      irmc_compare:
        profile_path1: "{{ irmc_hwconfig_file }}"
        profile_json2: "{{ hardware_config.profile }}"
      register: hardware_config_result
      delegate_to: localhost
    - fail:
        msg:
          - HWConfigurationIrmc profile differs from saved profile
          - "{{ hardware_config_result.comparison_list }}"
      when: hardware_config_result.comparison_result == false

